div#wpcontent {
    background: #FFF;
}

.ocean-ext-panel-page-title {
    margin: 30px auto 60px;
    max-width: 770px;
    text-align: center;
}

.ocean-ext-panel-page-title h2 {
    font-size: 28px;
    margin: 0;
    line-height: 1.6;
}

.ocean-ext-panel-page-title p {
    margin-block-start: 0;
    font-size: 16px;
}

.ocean-ext-panel-filters {
    margin-bottom: 20px;
    text-wrap: pretty;
    position: relative;
    display: flex;
    align-items: stretch;
    overflow-x: auto;
}

.ocean-ext-panel-filter-btn {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 0;
    display: flex    ;
        align-items: center;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        color: #50575e;
        background-color: #f6f7f7;
        padding: 6px 8px;
        margin-right: 8px;
        line-height: 20px;
        height: 100%;
}

.ocean-ext-panel-filter-btn.active {
    background-color: #0073aa;
    color: #fff;
}


.ocean-ext-panel-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ocean-ext-panel-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
}

.ocean-ext-panel-heading {
    position: relative;
    margin-bottom: 10px;
}

.ocean-ext-panel-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 225px; 
}


.ocean-ext-panel-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
}

.ocean-ext-panel-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f00;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 3px;
}

.ocean-ext-panel-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.ocean-ext-panel-author {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.ocean-ext-panel-desc p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
}

.ocean-ext-panel-actions {
    margin-top: auto;
    text-align: left; 
}

.ocean-ext-panel-action-btn {
    display: inline-block;
    background: #083349;
    border: 1px solid #083349;
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.ocean-ext-panel-action-btn:hover {
    background: #0073aa;
    border: 1px solid #0073aa;
    cursor: pointer;
    color: #fff;
}


.ocean-ext-panel-action-btn.active-button {
    background-color: #46b450;
    border-color: #46b450;
    color: #fff;
}


.ocean-ext-panel-action-btn.activate-button {
    background-color: #f39c12; 
    border-color: #f39c12;
    color: #fff;
}


.ocean-ext-panel-action-btn.install-button {
    background-color: #0073aa;
    border-color: #0073aa;
    color: #fff;
}

.ocean-ext-panel-action-btn.external-button {
    background-color: #555; 
    border-color: #555;
    color: #fff;
}

.ocean-ext-panel-action-btn.active-button:hover {
    background-color: #3d8b3d;
    border-color: #3d8b3d;
}
.ocean-ext-panel-action-btn.activate-button:hover {
    background-color: #e67e22;
    border-color: #e67e22;
}
.ocean-ext-panel-action-btn.install-button:hover {
    background-color: #005983;
    border-color: #005983;
}
.ocean-ext-panel-action-btn.external-button:hover {
    background-color: #333;
    border-color: #333;
}


@media screen and (max-width: 782px) {
    .ocean-ext-panel-item {
        width: 100%;
    }
    .ocean-ext-panel-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: auto; 
    }
}